<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Elegant Error Page Flat Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Elegant Error Page template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<!-- link href="css/style.css" rel="stylesheet" type="text/css" media="all" -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
<!-- //Custom Theme files -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="agileits-main"> 
		<div class="agileinfo-row">
				
			<div class="w3layouts-errortext">
				<h2>4<span>0</span>4</h2>
				
				<h1>Sorry! The page you were looking for could not be found </h1>
				<h1>However, you may be looking for this individual </h1>

				<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto.php%3Ffbid%3D1076584835776320%26set%3Da.106218209479659.7010.100002744413068%26type%3D3&width=500" width="500" height="614" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

				<p class="w3lstext">Name: Mingkai Deng</p>
				<p class="w3lstext">UNI: md3422</p>
				<p class="w3lstext">Favorite Color: Blue</p>

				<h1>Thank you for your time and have a great day :) (The menu below is fake. Don't click on it) </h1>

				<div class="w3top-nav-right">	
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="#">About</a></li>  
						<li><a href="#">Blog</a></li> 
						<li><a href="#">Contact</a></li>
					</ul> 
				</div>	
			</div>	
		</div>	
	</div>	
	<!-- //main -->
	<!-- copyright -->
	<div class="copyright w3-agile">
		<p>© 2017 Elegant Error Page . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
	</div>
	<!-- //copyright --> 
</body>
</html>
